<a href="https://colab.research.google.com/github/Ismael-Barajas/somliere/blob/ml/soMLiere.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import matplotlib.pyplot as plt
from numpy.linalg import inv
from IPython.display import Markdown as md

import sklearn as sk
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score

from google.colab import drive
drive.mount('/content/drive')


data = pd.read_csv('drive/My Drive/Colab Notebooks/data.csv', delimiter=',')
print("We examine the first 5 rows of our dataset.\nData:\n")
data.head(5)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
We examine the first 5 rows of our dataset.
Data:

    type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0  white            7.0              0.27  ...       0.45      8.8        6
1  white            6.3              0.30  ...       0.49      9.5        6
2  white            8.1              0.28  ...       0.44     10.1        6
3  white            7.2              0.23  ...       0.40      9.9        6
4  white            7.2              0.23  ...       0.40      9.9        6

[5 rows x 13 columns]

In [16]:
#train_add_y = pd.concat([train_df, y_train], axis= 1)
counts = data.type.value_counts().to_dict()
print("Number of red and white values from all data originally:\n", counts)

data = data.dropna(axis= 0, how= 'any')

counts = data.type.value_counts().to_dict()
print("Number of red and white values from all data after drop NA:\n", counts)

#binary_data = data.where(cond= type=='white')
binary_data = data.replace({'white':1, 'red':0})
counts = binary_data.type.value_counts().to_dict()
print("Number of wine type 1 and 0 values from all data after binary encoding:\n", counts)

Number of red and white values from all data originally:
 {'white': 4898, 'red': 1599}
Number of red and white values from all data after drop NA:
 {'white': 4870, 'red': 1593}
Number of wine type 1 and 0 values from all data after binary encoding:
 {1: 4870, 0: 1593}

In [18]:
white_mask = binary_data['type'] == 1
w_data = binary_data[white_mask]
r_data = binary_data[~white_mask]

counts = w_data.type.value_counts().to_dict()
print("Number of red0 and white1 values from w_data after type split:\n", counts)
counts = r_data.type.value_counts().to_dict()
print("Number of red0 and white1 values from r_data after type split:\n", counts)

Number of red0 and white1 values from w_data after type split:
 {1: 4870}
Number of red0 and white1 values from r_data after type split:
 {0: 1593}

In [28]:

w_train, w_test = train_test_split(w_data, test_size=0.3, train_size=0.7, random_state=(2021-10-25), shuffle=True, stratify=None)
r_train, r_test = train_test_split(r_data, test_size=0.3, train_size=0.7, random_state=(2021-10-25), shuffle=True, stratify=None)


y_w_test = w_test.pop('quality')
y_w_train = w_train.pop('quality')
y_r_test = r_test.pop('quality')
y_r_train = r_train.pop('quality')

#print(w_test, "\n", y_w_test)

      type  fixed acidity  volatile acidity  ...    pH  sulphates  alcohol
3961     1            7.6             0.390  ...  2.91       0.51     9.00
3654     1            6.8             0.180  ...  3.42       0.44    10.40
1910     1            6.6             0.250  ...  3.08       0.42     9.20
2061     1            6.7             0.230  ...  3.32       0.40    10.80
2243     1            6.7             0.230  ...  3.54       0.74    10.40
...    ...            ...               ...  ...   ...        ...      ...
1110     1            7.2             0.370  ...  3.30       0.59    12.60
2472     1            8.8             0.240  ...  3.13       0.40    10.70
4733     1            5.2             0.185  ...  3.55       0.44    10.15
4129     1            6.3             0.340  ...  3.22       0.29    13.40
3479     1            5.9             0.320  ...  3.22       0.57    13.10

[1461 rows x 12 columns]
 3961    5
3654    6
1910    5
2061    6
2243    5
       ..
1110    7
2472    6
4733    6
4129    7
3479    7
Name: quality, Length: 1461, dtype: int64


print (np.hstack((xvalues,yvalues[:, np.newaxis])))
Xtrain = np.hstack((np.ones_like(xtrain), xtrain))
Xtrain = np.delete(Xtrain, 0, 1)
weights = np.linalg.inv(Xtrain.transpose().dot(Xtrain)).dot(Xtrain.transpose()).dot(ytrain)

test